---
import Forest from "@/assets/images/forest-blue.png";
---

<article class="grid grid-cols-5 grid-rows-7 gap-4 text-white">
  <div class="col-span-2 row-span-3 bg-primary p-8 rounded-2xl">
    <h2 class="font-family-title text-3xl mb-5">Who am I?</h2>
    <p class="font-family-regular">
      I'm Eric, a technology enthusiast with a special interest in web
      development. I consider myself a curious person, committed to continuous
      learning, as I see technology as a constantly evolving field full of
      opportunities for growth. I'm also passionate about the Linux ecosystem,
      which I use both for its philosophy and the technical possibilities it
      offers. Outside the professional sphere, I enjoy reading, with epic
      fantasy being one of my favorite genres.
    </p>
  </div>
  <div class="col-span-2 row-span-2 col-start-3 bg-secondary p-8 rounded-2xl">
    <div class="text-4xl font-family-title h-full grid place-content-center">
      <h2 class="p-5">Web Developer</h2>
      <h2 class="text-center">Full Stack</h2>
    </div>
  </div>
  <div class="row-span-3 col-start-5 bg-primary rounded-2xl overflow-hidden">
    <img class="w-full h-full object-cover" src={Forest.src} alt="" />
  </div>
  <div
    class="col-span-2 row-span-3 col-start-3 row-start-3 bg-primary p-8 rounded-2xl"
  >
    4
  </div>
  <div class="row-span-4 col-start-5 row-start-4 bg-primary p-8 rounded-2xl">
    5
  </div>
  <div
    class="col-span-2 row-span-2 col-start-1 row-start-4 bg-primary p-8 rounded-2xl"
  >
    6
  </div>
  <div class="row-span-2 row-start-6 bg-primary p-8 rounded-2xl">7</div>
  <div class="col-span-3 row-span-2 row-start-6 bg-primary p-8 rounded-2xl">
    8
  </div>
</article>
