<article class="hidden md:grid place-content-center rounded-2xl w-full">
  <ul
    class="bg-primary flex gap-3 text-text text-lg justify-between mt-8 rounded-2xl font-family-light text-container"
  >
    <li class="m-3 px-5 p-1 rounded-xl cursor-pointer">
      <a href="#home" class="drop-shadow-2xl">Home</a>
    </li>
    <li class="m-3 px-5 p-1 rounded-xl cursor-pointer">
      <a href="#projects" class="drop-shadow-2xl">Projects</a>
    </li>
    <li class="m-3 px-5 p-1 rounded-xl cursor-pointer">
      <a href="#contact" class="drop-shadow-2xl">Contact</a>
    </li>
  </ul>
</article>

<style>
  .text-container > li {
    transition:
      scale 300ms,
      filter 300ms,
      opacity 300ms;
  }

  .text-container:hover > li {
    scale: 0.9;
    opacity: 0.9;
    filter: blur(2px);
  }

  .text-container:hover > li:hover {
    scale: 1;
    opacity: 1;
    filter: blur(0px);
    background-color: rgba(255, 255, 255, 20%);
  }
</style>
