---
import GridHome from "@/components/GridHome.astro";
import Projects from "./Projects.astro";
---

<div class="snap-x snap-proximity">
  <section
    id="home"
    class="grid place-content-center px-5 md:px-30 py-5 md:py-15 snap-center"
  >
    <GridHome />
  </section>
  <section
    id="projects"
    class="grid place-content-center px-5 md:px-30 py-5 md:py-15 snap-center"
  >
    <Projects />
  </section>
  <section id="contact" class="snap-center"></section>
</div>
